{% extends 'base.html.twig' %}

{% block body %}

    <h1>Vous n'êtes pas autorisé, désolé !</h1>

    <img class="w-75" src="{{ asset('img/nonAutorisé.jpg') }}">


{% endblock %}

{% block title %}
    Sorry! - Error404
{% endblock %}