{% extends 'base.html.twig' %}

{% block body %}

    <h1>Page introuvable, désolé !</h1>

    <img class="w-75" src="{{ asset('img/404.gif') }}">


{% endblock %}

{% block title %}
    Sorry! - Error404
{% endblock %}