{% extends 'base.html.twig' %}

{% block body %}

    <h1>Une erreur est survenue</h1>

    <img class="w-50" src="{{ asset('img/gif-anime.gif') }}">


{% endblock %}

{% block title %}
    Sorry! - Error404
{% endblock %}